<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${reviewModel.title}">A review</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

<header>
    <h1 th:text="${reviewModel.title}">A review</h1>
</header>

<main>
    <u>
        <p><a href="/reviews">Reviews</a></p>
        <li th:text="${reviewModel.title}"></li>
    </u>
    <img th:src="${reviewModel.imageUrl}"></img>
    <p th:text="${reviewModel.reviewCategory}"></p>
    <p th:text="${reviewModel.content}"></p>
</main>

<footer>
    <small>&copy Zaylet Feliciano 2022</small>
</footer>

</body>
</html>